.header_container {
  color: var(--Very_Light_Gray);
  margin-top: 35px;
  display: flex;
  gap: 170px;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  position: relative;
}
.header_container img {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.header_container img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.header_container {
  font-size: 20px;
}
@media (min-width: 1439px) {
  .header_container {
    gap: 330px;
  }
  .header_container {
    font-size: 28px;
  }
}
